.bg-nazzer {
    background-color: #282d31;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus,
.header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
    color: #fcfeff!important;
    background-color: transparent
}

/* Start: Dark Container */
.darkContainer {
    background-color: rgba(255,255,255,0.01);
    color: #ffffff;
}

.darkContainer a {
    color: #ffffff;
}
/* End: Dark Container */

.rounded {
    border-radius: .25em!important;
    border: #000000 2px solid;
}

.footer {
    padding: 10px 0;
    color: #4b4c4d
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0
}

.footer li {
    padding: 0 10px
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: .8
}

.footer ul a:hover {
    opacity: 1
}

.footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.cover-container {
    max-width: 42em;
}
